@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// colors

// primary colors
$tomato: hsl(4, 100%, 67%);

// neutral colors
$dark-slate-grey: hsl(234, 29%, 67%);
$charcoal-gray: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$tomato-input-error: hsla(4, 100%, 67%, 0.236);

// fonte
$tamanho-da-fonte: 16px;
$familia-da-fonte: 'Roboto';
$fonte-negrito: 700;
$fonte-normal: 400;
